/*

Herunder har vi defineret de selecetorer, som påvirker faste elementer på sitet
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: "";
  color: var(--Brun);
}

img {
  width: 100%;
}

body {
  background-color: var(--Beige);
}

/*

  Herunder har vi defineret de selectorer, som påvirker overskrifter og tekst
*/

h1,
h2,
h3 {
  font-family: "Vidaloka", serif;
  text-align: center;
}
h1 {
  font-size: var(--H1-Size-Mobile);
  padding-top: 6rem;
}
h2 {
  font-size: var(--H2-Size-Mobile);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h3 {
  font-size: var(--H3-Size-Mobile);
}

p,
h4 {
  font-family: "Open Sans", sans-serif;
  font-size: var(--Brødtekst-Size-Mobile);
  line-height: 1.8rem;
  margin: 0rem 8%;
}
h4 {
  font-weight: bold;
}

li {
  font-family: "Open Sans", sans-serif;
}

@media (width > 800px) {
  /* Ved desktop størrelse */
  h1 {
    font-size: var(--H1-Size-Desktop);
  }
  h2 {
    font-size: var(--H2-Size-Desktop);
  }
  h3 {
    font-size: var(--H3-Size-Desktop);
  }

  p,
  h4 {
    margin: 0rem 25%;
    font-size: var(--Brødtekst-Size-Desktop);
    line-height: var(--LineHeight);
  }
}

/*

Herunder har vi alt overordnet :root samlet, som vi henviser til med var()
*/

:root {
  /* Font Size Desktop*/
  --H1-Size-Desktop: 6.2rem;
  --H2-Size-Desktop: 2.4rem;
  --H3-Size-Desktop: 2rem;
  --H4-Size-Desktop: 1.5rem;
  --Brødtekst-Size-Desktop: 1rem;

  /* Font Size Mobile*/
  --H1-Size-Mobile: 4rem;
  --H2-Size-Mobile: 1.7rem;
  --H3-Size-Mobile: 1.5rem;
  --H4-Size-Mobile: 1.1rem;
  --Brødtekst-Size-Mobile: 0.9rem;

  /* Colors */
  --Lysgrøn: rgba(157, 165, 126, 1);
  --Mørkgrøn: rgba(50, 70, 33, 1);
  --Beige: rgba(247, 243, 232, 1);
  --Sort: rgba(0, 0, 0, 1);
  --Brun: rgba(65, 46, 24, 1);

  /* Other */
  --LineHeight: 2.1rem;
  --BorderRadius: 0.3rem;
}

/*


Herunder har vi de downloadede fonte
*/

/* Overskrift H1 */
.vidaloka-regular {
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
