---
import ListCard from "../components/ListCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <Hero />
  <section class="cards">
    <div>
      <img src="images/behandlinger.webp" alt="billede af kvinde og ansigtsbehandling" />
      <div class="image_button1">
        <a href="/listview"><Button variant="secondary">BEHANDLINGER</Button></a>
      </div>
    </div>
    <div>
      <img src="images/serum.webp" alt="billede af en ansigtsserum" />
      <div class="image_button2">
        <a href="/produkter"><Button variant="secondary">PRODUKTER</Button></a>
      </div>
    </div>
  </section>
  <section class="intropriser">
    <div class="intro_overskrift"><h2>Intro Priser</h2></div>
    <h3>Til dig, der ikke har prøvet behandlingerne før:</h3>
    <ol class="behandling_list">
      <li>Japansk Lifting: 450 ,-</li>
      <li>Diamant Peeling: 500 ,-</li>
      <li>Oxygenbehandling: 500 ,-</li>
      <li>Lash Lift (Elleebana): 375 ,-</li>
    </ol>
    <h4>Køb 5 behandlinger og få en ekstra gratis!</h4>
    <img class="firkløver1" src="images/firkløver1.svg" alt="" />
    <img class="firkløver2" src="images/firkløver1.svg" alt="" />
  </section>

  <section class="grid_2-1 section_førefter">
    <div class="centertekst">
      <h3 class="naturlig_overskrift">Få en naturlig glød!</h3>
      <p class="p_japansk">
        Japansk facelift er en naturlig og effektiv behandling, der kombinerer blid ansigtsmassage og akupressur for at reducere rynker, opstramme huden og give en strålende glød – perfekt til kvinder i alderen 50-60 år, der ønsker en
        skånsom og foryngende ansigtsoplevelse.
      </p>
      <div class="buttoncontainer">
        <Button href="/product/japansk-lifting" variant="primary">LÆS MERE</Button>
      </div>
    </div>
    <div class="grid_1 div_førefter">
      <div>
        <h5>Før</h5>
        <img src="images/før.webp" alt="før billede af skønhedsbehandling" />
        <p>Hanne, 52</p>
        <p>Japansk lifting ansigtsbehandling</p>
      </div>
      <div>
        <h5>Efter</h5>
        <img src="images/efter.webp" alt="efter billede af skønhedsbehandling" />
      </div>
    </div>
  </section>
</MainLayout>
<style>
  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition:
      opacity 0.6s ease-out,
      transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  p {
    margin: 0;
  }
  .cards {
    /* Dette er den første section med billeder (behandlinger og produkter) */
    display: grid;
    position: relative;
  }

  /* Knapper  */
  .image_button1 {
    position: absolute;
    top: 38%;
    right: 18px;
  }
  .image_button2 {
    position: absolute;
    top: 88%;
    right: 18px;
  }
  .buttoncontainer {
    text-align: center;
    margin-top: 2rem;
  }

  .behandling_list {
    text-align: center;
    margin: 2rem;
  }

  li {
    font-family: "Open Sans", sans-serif;
    padding: 0.5rem;
    text-align: center;
  }

  h4 {
    text-align: center;
    font-family: "Vidaloka", serif;
  }

  .naturlig_overskrift {
    margin-left: 2rem;
    text-align: left;
  }

  h3 {
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .firkløver1 {
    position: absolute;
    top: 80rem;
    left: -1rem;
    width: 25%;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }
  .firkløver2 {
    position: absolute;
    top: 99rem;
    left: 18rem;
    width: 30%;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }

  @media (max-width: 799px) {
    .grid_1 {
      margin-top: 4rem;
    }
  }

  /* DESKTOP */
  @media (min-width: 800px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
    }

    .grid_2-1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    /* Knapperne ovenpå billederne */
    .image_button1 {
      position: absolute;
      top: 83%;
      left: 530px;
    }
    .image_button2 {
      position: absolute;
      top: 83%;
      right: 30px;
    }

    .intropriser {
      margin: 4rem;
    }
    .for_eftertekst {
      text-align: left;
      align-items: center;
      margin-left: -95px;
    }

    .p_japansk {
      margin: 3rem 2rem;
    }

    .centertekst {
      margin-left: auto;
      margin-right: auto;
    }
    .div_førefter {
      grid-column: 1;
      grid-row: 1;
    }

    .section_førefter {
      margin: 8rem 3rem;
    }
    .firkløver1 {
      position: absolute;
      top: 82rem;
      left: 0;
      width: 25%;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }
    .firkløver2 {
      position: absolute;
      top: 96rem;
      left: 66rem;
      width: 25%;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }
  }
</style>
