---
const behandlinger = await fetch(
  "https://zymhzxfscypovmtutfib.supabase.co/rest/v1/behandlinger",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5bWh6eGZzY3lwb3ZtdHV0ZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3MzI2OTcsImV4cCI6MjA0OTMwODY5N30.ZWO8J1GEX5z2Em66Apb2wdoYYIPKVJevYH1qrIgUDeM",
    },
  }
).then((res) => res.json());

import type { ACTION_ERROR_CODES } from "astro:actions";
import Listcard from "../components/ListCard.astro";
import MainLayout from "../layouts/MainLayout.astro";

console.log(behandlinger);
---

<MainLayout>
  <h2>Behandlinger</h2>
  <p>
    Hos Strandgade Facecare kan du forkæle dig selv med en række
    skønhedsbehandlinger, der både fremhæver din naturlige skønhed og giver dig
    en stund med afslapning og selvforkælelse. Vi udbyder følgende behandlinger:
  </p>
  <ul>
    {
      behandlinger.map((behandling: any) => {
        return <Listcard {...behandling} />;
      })
    }
  </ul>
</MainLayout>
