---
const behandlinger = await fetch(
  "https://zymhzxfscypovmtutfib.supabase.co/rest/v1/behandlinger",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5bWh6eGZzY3lwb3ZtdHV0ZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3MzI2OTcsImV4cCI6MjA0OTMwODY5N30.ZWO8J1GEX5z2Em66Apb2wdoYYIPKVJevYH1qrIgUDeM",
    },
  }
).then((res) => res.json());

import type { ACTION_ERROR_CODES } from "astro:actions";
import Listcard from "../components/ListCard.astro";
import MainLayout from "../layouts/MainLayout.astro";

console.log(behandlinger);
---

<MainLayout>
  <h2>Behandlinger</h2>
  <p>
    Hos Strandgade Facecare kan du forkæle dig selv med en række
    skønhedsbehandlinger, der både fremhæver din naturlige skønhed og giver dig
    en stund med afslapning og selvforkælelse. Vi udbyder følgende behandlinger:
  </p>
  <section class="margin">
    <ul>
      {
        behandlinger.map((behandling: any) => {
          return <Listcard {...behandling} />;
        })
      }
    </ul>
  </section>
  <section>
    <h2>Kombinationer</h2>
    <p>
      De forskellige behandlingstyper kan med stor fordel kombineres for at give
      et endnu bedre resultat. Her kan du se en række eksempler:
    </p>
    <section class="kombinationer">
      <div>
        <strong><p>Deluxe Oxygen Facelift</p></strong>
        <p>Japansk Lifting + Oxygenbehandling</p>
        <p>1 time og 30 min.: 795,-</p>
      </div>
      <div>
        <strong><p>Diamant peeling & Japansk Lifting</p></strong>
        <p>1 time og 15 min.: 695,-</p>
      </div>
      <div>
        <strong><p>Diamant peeling og Oxygen behandling</p></strong>
        <p>1 time: 725,-</p>
      </div>
      <div>
        <strong><p>Lysbehandling i kombination med anden behandling</p></strong>
        <p>Lysbehandling kan kombineres med alle mine øvrige behandlinger.</p>
        <p>20 minutter: 175,-</p>
      </div>
    </section>
    <img class="firkløver1" src="images/firkløver1.svg" alt="" />
    <img class="firkløver2" src="images/firkløver1.svg" alt="" />
  </section>
</MainLayout>

<style>
  .margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .kombinationer {
    text-align: center;
  }

  div:last-child /* Sørger for mere afstand ned til footer */ {
    margin-bottom: 8rem;
  }

  .firkløver1 {
    position: absolute;
    top: 237rem;
    left: -1rem;
    width: 20%;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }
  .firkløver2 {
    position: absolute;
    top: 277rem;
    left: 18rem;
    width: 30%;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }
  @media (max-width: 799px) /* Mobilestørrelse */ {
    div {
      margin: 2rem 0;
    }
  }

  @media (min-width: 800px) /* computerstørrelse */ {
    .margin {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    div {
      margin: 2.5rem 0;
    }
    .firkløver1 {
      position: absolute;
      top: 200rem;
      left: 0;
      width: 25%;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }
    .firkløver2 {
      position: absolute;
      top: 222rem;
      left: 64rem;
      width: 25%;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }
  }
</style>
