---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout> slot </MainLayout>

<section>
    <h1>Om klinikken</h1>
<div>
    <h2>Uddannelsesbaggrund</h2>
    <p>Jeg er certificeret i Japansk Cosmo Lifting og uddannet Elleebana Lash Lift stylist. Før jeg skiftede karriere, arbejdede jeg i mange år som sygeplejerske, hvilket har givet mig en solid baggrund inden for omsorg og behandling.</p>
</div>
<div>
    <h2>Produkter</h2>
    <p>I de fleste behandlinger anvender jeg DermaOXY's danske hudplejeprodukter, som også kan købes i klinikken.</p>
</div>
</section>

<style>


</style>
