---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout> slot </MainLayout>

<section>
    <h1>Om klinikken</h1>
    <div>
        <img src="" alt="">
    </div>
<div>
    <h2>Uddannelsesbaggrund</h2>
    <p>Jeg er certificeret i Japansk Cosmo Lifting og uddannet Elleebana Lash Lift stylist. Før jeg skiftede karriere, arbejdede jeg i mange år som sygeplejerske, hvilket har givet mig en solid baggrund inden for omsorg og behandling.</p>
    <h2>Produkter</h2>
    <p>I de fleste behandlinger anvender jeg DermaOXY's danske hudplejeprodukter, som også kan købes i klinikken.</p>
</div>

<div>

<h2>Klinikkens beliggenhed</h2>
<p>Min klinik, Strandgade Facecare, åbnede i 2016 og ligger på Christianshavn i et charmerende klassisk hus fra 1700-tallet. Her skaber jeg en hyggelig og afslappende atmosfære, der er perfekt til selvforkælelse.</p>
</div>

<div class=""></div>
<h1>Kontakt mig</h1>
<img src="" alt="">





</section>

<style>


</style>
