---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout>
  <h2>Produkter</h2>
  <p>
    Ønsker du at forlænge effekten af dine behandlinger derhjemme, kan du købe
    de produkter, der bruges under behandlingerne. Vi tilbyder produkter fra det
    danske mærker DermaOxy, som er kendt for deres høje kvalitet og effekt.
  </p>
  <section>
    <div>
      <img class="images" src="/images/facewash.webp" alt="dermaoxy facewash" />
      <h3>dermaOXY facewash</h3>
      <br />
      <ul style="specifikationer" class="beskrivelse">
        <li>Forebygger tilstoppede porer</li>
      </ul>
      <br />
      <h5 class="pris">Pris: 250,-</h5>
    </div>

    <div>
      <img class="images" src="/images/daycream.webp" alt="dermaoxy facewash" />
      <h3>dermaOXY day cream</h3>
      <br />
      <ul style="specifikationer" class="beskrivelse">
        <li>Reducere pigment pletter</li>
      </ul>
      <br />
      <h5 class="pris">Pris: 395,-</h5>
    </div>

    <div>
      <img
        class="images"
        src="/images/nightcream.webp"
        alt="dermaoxy facewash"
      />
      <h3>dermaOXY night cream</h3>
      <br />
      <ul style="specifikationer" class="beskrivelse">
        <li>Stimulerer fornyelsen af huden</li>
      </ul>
      <br />
      <h5 class="pris">Pris: 395,-</h5>
    </div>
  </section>
</MainLayout>

<style>
  section {
    margin: 5rem;
    align-items: center;
    text-align: center;
  }
  div {
    margin-top: 2rem;
  }

  img {
    width: 200px;
    height: 450px;
  }

  @media (width > 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 7rem;
    }
  }
</style>
