---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout>
  <h2>Produkter</h2>
  <p>
    Ønsker du at forlænge effekten af dine behandlinger derhjemme, kan du købe
    de produkter, der bruges under behandlingerne. Vi tilbyder produkter fra det
    danske mærker DermaOxy, som er kendt for deres høje kvalitet og effekt.
  </p>
  <section>
    <div>
      <img class="images" src="images/facewash.webp" alt="dermaoxy facewash" />
      <h3>DermaOXY FACEWASH</h3>
      <p class="beskrivelse">
        Fjerner mildt og effektivt fedtstoffer, snavs og makeup fra din hud uden
        at fjerne alt fugt.
      </p>
    </div>
    <div>
      <img class="images" src="images/daycream.webp" alt="dermaoxy daycream" />
      <h3>DermaOXY DAY PROTECTING CREAM</h3>
      <p class="beskrivelse">
        Supplerer din huds naturlige indhold af hyaluronsyre og hjælper med at
        binde fugten i huden.
      </p>
    </div>
    <div>
      <img
        class="daycream"
        src="images/nightcream.webp"
        alt="dermaoxy nightcream"
      />
      <h3>DermaOXY NIGHT RELAXING CREAM</h3>
      <p class="beskrivelse">
        Sørger for, at din hud får den nødvendige fugt og næring natten igennem
        med et højt indhold af Q10, vitamin E, grøn te og hyaluronsyre.
      </p>
    </div>
  </section>
</MainLayout>

<style>
  section {
    margin: 2rem;
  }
  div {
    margin-top: 2rem;
  }
  div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    /* width: 50%; */
  }
  .daycream {
    width: 40%;
    height: auto;
  }
  .images {
    width: 45%;
    height: auto;
  }
  .beskrivelse {
    margin: 0;
  }
  @media (width > 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* align-items: center;
          padding: 5rem; */
    }
    div {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .daycream {
      width: 40%;
      height: auto;
    }
    .images {
      width: 45%;
      height: auto;
    }
  }
</style>
