---
const { variant = "primary", size = "medium" } = Astro.props;
import "../styles/global.css";
const { href } = Astro.props;
---

<button data-variant={variant} data-size={size}>
  <slot />
</button>

<style>
  /* primære */
  [data-variant="primary"] {
    padding: 1em;
    background-color: var(--Mørkgrøn);
    color: var(--Beige);
    border-color: var(--Mørkgrøn);
  }
  [data-variant="primary"]:hover {
    background-color: var(--Lysgrøn);
    color: var(--Beige);
    border-color: var(--Lysgrøn);
  }

  [data-variant="primary"]:active {
    background: transparent;
    color: var(--Mørkgrøn);
    border-color: var(--Mørkgrøn);
  }
  /* sekundær */
  [data-variant="secondary"] {
    padding: 1em;
    background: transparent;
    color: var(--Beige);
    border-color: var(--Beige);
  }
  [data-variant="secondary"]:hover {
    padding: 1em;
    background-color: none;
    color: var(--Lysgrøn);
    border-color: var(--Lysgrøn);
  }
  [data-variant="secondary"]:active {
    padding: 1em;
    background-color: none;
    color: var(--Mørkgrøn);
    border-color: var(--Mørkgrøn);
  }
  button {
    cursor: pointer;
    font-family: "vidaloka", serif;
    font-size: smaller;
    border-style: solid;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    border-width: 2px;
  }
  @media (width > 800px) {
    button {
      font-size: medium;
      width: 160px;
      height: 60px;
    }
  }
</style>
