---
import "../styles/global.css";
---
<footer id="grid-container">

  <div class="logo-item">
    <a href="/" ><img class="logo" src="/images/logo_desktop.svg" alt="Logo" /></a
  >
  </div>



<div class="kontaktoplysninger">
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    <li>Kontaktoplysninger</li>
    <br>
      <li>Tlf: +45 22 75 92 60</li>
      <li>Mail: post@strandgadefacecare.dk</li>
      <li>Adresse: Strandgade 40 st, 1401 København K</li>
      <li>Booking: <a href="https://strandgadefacecare.onlinebooq.dk">https://strandgadefacecare.onlinebooq.dk</a></li>
  </ul>
</div>


<div class="ikoner-items">
  <img src="/images/Ikon_instagram.svg" alt="">
  <img src="/images/Ikon_facebook.svg" alt="">
</div>

</footer>



<style>
  
  footer{
    /* position: relative; */
    margin-top: 0%;
    background-color: var(--Lysgrøn);
    height: auto;
  }
  
   .logo-item{
    align-items: left; 
    text-align: left; 
    } 
    
    .ikoner-items{
     align-items: left; 
      text-align: left;  
      justify-content: space-between;
      display: flex;
      
      
    } 
  a{
    text-decoration: underline;
    color: var(--Brun);
  }
  
  .kontaktoplysninger ul {
    padding: 0;
    margin: 0;
}



 .kontaktoplysninger ul li {
    margin-bottom: 5px;
} 

  a:hover {
    text-decoration: underline;
    color: var(--Beige);
  }
  
  
  #grid-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;  
    padding: 20px;  
    align-items: center;
    
  }

  @media (max-width: 800px) {
    #grid-container {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 10px; 

    }
  } 

  .logo {
    height: 70px;
    width: 70px;
    margin: 0.5rem;
  }
</style>