---
import "../styles/global.css";
import Button from "./Button.astro";
---

<section>
  <div>
    <img src="images/be" alt="" />
    <Button variant="secondary">Behandlinger</Button>
  </div>
  <div>
    <img src="" alt="" />
    <Button variant="secondary">Produkter</Button>
  </div>
</section>
