---
import "../styles/global.css";
import Button from "./Button.astro";
---

<section class="animation">
  <h1>Strandgade Facecare</h1>
  <h2 class="underoverskrift">Frisk hud med naturlig pleje, glød <br />og opstramning.</h2>
  <div class="knap"><Button variant="primary">BOOK TID</Button></div>
  <img class="blad_top" src="/images/blad_top.svg" alt="illustration af blad" />
  <img class="blad_venstre" src="/images/blad_venstre.svg" alt="illustration af blad" />
  <img class="blad_hojre" src="/images/blad_hojre.svg" alt="illustration af blad" />
</section>

<style>
  h1,
  h2 {
    text-align: center;
  }

  @keyframes fade_in_kf {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  .animation {
    animation-name: fade_in_kf;
    animation-duration: 5s;
  }

  .knap {
    text-align: center;
  }
  .blad_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
    z-index: -1;
    overflow: hidden;
  }

  .blad_venstre {
    width: 80%;
    z-index: -1;
    position: relative;
    top: -350px;
  }

  .blad_hojre {
    position: absolute;
    width: 50%;
    overflow: hidden;
    z-index: -1;
    right: 0;
    top: 190px;
    display: none;
  }

  /* DESKTOP */
  @media (min-width: 800px) {
    .blad_top {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: auto;
      z-index: -1;
      overflow: hidden;
    }

    .blad_venstre {
      width: 40%;
      z-index: -1;
      position: absolute;
      top: 250px;
      left: -3px;
    }

    .blad_hojre {
      position: absolute;
      width: 27%;
      overflow: hidden;
      right: 0;
      top: 150px;
      z-index: -1;
      display: block;
    }
    .underoverskrift {
      padding: 5rem;
    }

    .knap {
      padding: 5rem;
    }
  }
</style>
