---
import "../styles/global.css";
import Button from "./Button.astro";
---

<section>
  <h1>Strandgade Facecare</h1>
  <h2>Frisk hud med naturlig pleje, glød og opstramning.</h2>
  <Button variant="primary">BOOK TID</Button>
  <img src="images/blad_top.svg" alt="" />
  <img src="images/blad_venstre.svg" alt="" />
  <img src="images/blad_hojre.svg" alt="" />
</section>
