---
import Button from "./Button.astro";

const { behandling, beskrivelse_kort, pris, imgsingle, imglist } = Astro.props;
---

<a href="/">
  <!-- <a href=`/product/${slug}`> -->
  <li>
    <figure>
      <h2>{behandling}</h2>
      <p>{beskrivelse_kort}</p>
      <img src={"images/" + imglist} alt="imglist}" />
    </figure>
    <Button variant="secondary">BOOK TID</Button>
    <Button variant="secondary">LÆS MERE</Button>
  </li>
</a>
