---
import Button from "./Button.astro";

const { behandling, beskrivelse_kort, pris, imgsingle, imglist, slug } =
  Astro.props;
---

<!-- <a href={data.slug + "/"}> -->
<a href=`/product/${slug}`>
  <li>
    <figure>
      <h2>{behandling}</h2>
      <p>{beskrivelse_kort}</p>
      <img src={"images/" + imglist} alt="imglist}" />
    </figure>
    <div class="button">
      <Button variant="secondary">BOOK TID</Button>
      <Button variant="secondary">LÆS MERE</Button>
    </div>
  </li>
</a>

<style>
  a {
    cursor: default;
    color: black;
    text-decoration: none;
  }

  .button {
    text-align: center;
  }

  img {
    padding: 1.5rem 0%;
  }
</style>
