---
// const { variant, behandling } = Astro.props;
const url = "https://zymhzxfscypovmtutfib.supabase.co/rest/v1/behandlinger";
const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5bWh6eGZzY3lwb3ZtdHV0ZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3MzI2OTcsImV4cCI6MjA0OTMwODY5N30.ZWO8J1GEX5z2Em66Apb2wdoYYIPKVJevYH1qrIgUDeM",
  },
};
// const { behandling } = Astro.props;
const behandling = await fetch(url, options).then((res) => res.json());
---

<li>
  <h1>behandling: {behandling.beskrivelse_kort}</h1>
</li>

<!-- karrusel leas opgave single view

export async function getStaticPaths() {
  const url = "https://alvenwirzpgcdjpfhrzm.supabase.co/rest/v1/karrussel";
  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsdmVud2lyenBnY2RqcGZocnptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1MTAzMzksImV4cCI6MjA0NTA4NjMzOX0.bnOeKs799xzM-adiHsVFkHdvJw_lZ-Ri4JAsV6Uvsd4",
    },
  };

  const artists = await fetch(url, options).then((res) => res.json());

  return artists.map((artist) => ({
    params: { artist: artist.slug }, // [artist]=artist.slug
    props: { artist }, // send al data med som props
  }));
}

const { artist } = Astro.props;
import Main from "../layouts/Main.astro";

-->
