---
// const { variant, behandling } = Astro.props;
const url = "https://zymhzxfscypovmtutfib.supabase.co/rest/v1/behandlinger";
const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5bWh6eGZzY3lwb3ZtdHV0ZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3MzI2OTcsImV4cCI6MjA0OTMwODY5N30.ZWO8J1GEX5z2Em66Apb2wdoYYIPKVJevYH1qrIgUDeM",
  },
};
// const { behandling } = Astro.props;
const behandling = await fetch(url, options).then((res) => res.json());
---

<li>
  <h1>behandling: {behandling.beskrivelse_kort}</h1>
</li>
